// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$title-font: 'Playfair Display', serif;
$text-font: 'Roboto', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-color: #7c32ff;
$primary-color2: #c738d8;
$title-color: #222222;
$text-color: #828bb2;

$white: #fff;
$offwhite: #f9f9fb;
$black: #222;
